.conq {
    width: 100vw;
    height: 100vh;
    background: white;
    display: none;
}

.conq_active {
    width: 100vw;
    height: 150vh;
    background: transparent;
    display: flex;
    z-index: 10;
}