.layer {
    display: none;
}

.layer_active_conq {
    background-image:linear-gradient(rgba(253, 253, 253, 0.5), rgba(255, 255, 255, 0.5)), url(../../Assets/mountain-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    width: 100vw;
    height: 150vh;
    position: absolute;
    bottom: -150vh;
    left: 0;
    z-index: 2;
    filter: blur(2px);
    border-top: 5px solid white;
}

.layer_active_plan {
    background-image:linear-gradient(rgba(7, 7, 7, 0.6), rgba(7, 7, 7, 0.6)), url(../../Assets/mountain-bg.jpg);    
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    width: 100vw;
    height: 150vh;
    position: absolute;
    bottom: -150vh;
    left: 0;
    z-index: 2;
    filter: blur(2px);
    border-top: 5px solid black;
}