.conqProgress {
    width: 32vw;
    height: 90%;
    background: white;
    border-radius: 12px;
    box-shadow: rgba(167, 195, 207, 0.25) 0px 25px 50px -10px, rgba(255, 255, 255, 0.3) 0px 15px 30px -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(50,50,50);
    font-family: 'Raleway';
    font-size: 3rem;
}