.planForm {
    width: 96vw;
    height: 50vh;
    border-radius: 6px;
    background: rgb(211, 209, 209);
    box-shadow: rgba(167, 195, 207, 0.25) 0px 25px 50px -10px, rgba(255, 255, 255, 0.3) 0px 15px 30px -15px;
    display: flex;
    align-items: center;
    justify-content: center;

    .planForm__wrapper {
        background: transparent;
        width: 94vw;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .planForm__title {
            font-size: 2rem;
            width: 100%;
            font-family: 'Raleway';
            margin-top: -10px;
            margin-bottom: 15px;
        }

        .planForm__innerCont {
            background: transparent;
            width: 94vw;
            height: 40vh;
            display: flex;
            justify-content: space-around;

            .planForm__info {
                width: 30vw;
                height: 35vh;
                background: white;
                border-radius: 15px;
                display: flex;
                align-content: center;
                justify-content: center;
            }

            .planForm__form {
                width: 50vw;
                height: 30vh;
                background: transparent;
                display: flex;
                align-content: center;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .planForm {
        width: 96vw !important;
        height: 90vh !important;
    
        .planForm__wrapper {
            width: 94vw !important;
            height: 90vh !important;

            .planForm__title {
                font-size: 1.6rem !important;
                margin-top: 10px !important;
                margin-bottom: 15px;
            }

            .planForm__innerCont {
                width: 94vw !important;
                height: 90vh !important;
                flex-direction: column !important;

                .planForm__info {
                    width: 94vw !important;
                    height: 30vh !important;
                }

                .planForm__form {
                    width: 84vw !important;
                    padding: 0 5vw 0 5vw;
                    height: 33vh !important;
                }
            }
        }
    }
}
