.pie__data {
    width: 32vw;
    height: 90%;
    background: white;
    border-radius: 12px;
    box-shadow: rgba(167, 195, 207, 0.25) 0px 25px 50px -10px, rgba(255, 255, 255, 0.3) 0px 15px 30px -15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardPie__data {
    width: 32vw;
    height: 100%;
    background: transparent; 
    box-shadow: 0 0 0 0;
}

@media screen and (max-width: 1023px) {
    .pie__data {
        width: 96vw !important;
        height: 45vh !important;
        margin-bottom: 10vh !important;
        margin-top: 10vh !important;

        .cardPie__data {
            width: 96vw !important;
            height: 100% !important;
        }
    }
}