
.listContent {
    width: 56vw;
    height: 80%;
    background: transparent;
    border-radius: 0;
    order: 2;

    .cardInfo {
        width: 250px;
        height: 250px;
        display: flex;
        background: white;
        position: absolute;
        left: 56vw;
        z-index: 12;
        display: none;
        transition-duration: 0.25s;
    }
    .cardInfo__active {
        width: 350px;
        height: 350px;
        display: flex;
        background: white;
        position: absolute;
        left: 58vw;
        z-index: 12;
        transform: scale(1);
        transition-duration: 0.25s;

        
    }
    .arrow-left {

    }
    .arrow-left__active {
        width: 0; 
        height: 0; 
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent; 
        border-right:30px solid white; 
        position: absolute;
        top: 20vh;
        left: 57vw;
      }
}

@media screen and (max-width: 1024px) {
    .listContent {
        width: 88vw;
        height: 90%;
        background: transparent;
        border-radius: 0;
        order: 2;
    }
    
}