.listContent {
    width: 56vw;
    height: 80%;
    background: transparent;
    border-radius: 0;
    order: 2;

}

@media screen and (max-width: 1024px) {
    .listContent {
        width: 88vw;
        height: 90%;
        background: transparent;
        border-radius: 0;
        order: 2;
    }
    
}