* {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-image: url(./Assets/mountain-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(90%);
    scroll-behavior: smooth;
}


.app {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}